#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav a {
  font-size: 36px;
  color: rgba(87, 75, 59, 0.842);
  /* color: rgba(109, 76, 16, 0.637); */
  text-decoration: none;
  margin-right: 50px;
  z-index: 1;
}

svg {
  margin-top: 6px;
}

.fa-shopping-bag {
  height: 50px;
  width: 50px;
}

#nav > a > div > button {
  display: inline-block;
  top: 0;
  right: 0;
}
